com.googlecode.jinahya/nica-java-server-test-servlet/src/main/webapp/indexedKeys.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<!--
Copyright 2012 Jin Kwon <jinahya at gmail.com>.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           version="1.0"
           targetNamespace="http://jinahya.googlecode.com/nica/test"
           xmlns:tns="http://jinahya.googlecode.com/nica/test"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="indexedKeys" type="tns:indexedKeys"/>

  <xs:complexType name="indexedKeys">
    <xs:sequence>
      <xs:element name="indexedKey" type="tns:indexedKey" minOccurs="0"
                  maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="indexedKey">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="index" type="xs:ID" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>